/* Smartphone */
/* Cualquier resoluci贸n hasta 480px, menor o igual a 480 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------- HEADER ------------------------------------- */


@font-face {
    font-family: harryFont;
    src: url(../HARRYP.TTF);
}

body {
    background-color: black;
}

header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header ul,
ol {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 15px;
}

header h1 {
    font-family: harryFont;
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
}

header a {
    text-decoration: none;
    color: white;
}


/* ################################ INDEX ######################################*/

/* -------------------------------- SLIDER ------------------------------------- */


.slider video {
    width: 100%;
    background-color: black;

    align-items: center;


}


/* ------------------------------- CONTENIDOS ----------------------------------- */

.content {

    display: flex;
    background-color: black;

}

.contenidos h2 {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}

.carta-personaje {




    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

}

.carta-personaje a {
    border-radius: 10px;
    border: solid 2px white;
    background-color: black;
    padding: 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 10px;
    width: 100%;
    text-align: center;

}

.carta-personaje a:hover {
    background-color: red;
}

.carta-personaje img {
    width: 100%;

}


.carta-personaje h3 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    text-align: center;
}

.carta-personaje p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    text-align: justify;
}

/* ------------------------------- NOTICIAS ----------------------------------- */

.noticias h2 {
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 10px;
    color: white;
}

.content-noticia {

    display: flex;
    /* background: linear-gradient(white, black); */

}

.detalle-noticia {

    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.detalle-noticia h3 {
    color: white;
    text-align: left;
    margin: 10PX;
    text-decoration: underline;
}

.detalle-noticia img {
    width: 100%;
}

.detalle-noticia p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    text-align: justify;

}


/* ------------------------------- FOOTER ----------------------------------- */

footer h2 {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: underline;
}

footer nav {
    border-left: 20px;
    background-color: black;
}

footer nav ul li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    padding: 15px;
}

footer nav ul li h3 a {
    color: white;
    text-decoration: none;

}

footer img {
    width: 50px;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: black;
}

.redes img {
    margin: 20px;
}

.final h2 {
    text-decoration: none;
    font-family: harryFont;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

.final p {
    background-color: black;
    color: white;
    font-family: harryFont;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
}


/* ############################### PERSONAJES ######################################*/

.personajes{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin: 20px;

    justify-content: space-between;

   
}

.personaje {
    border: 2px solid white;
    min-width: 90vw;
    margin-right: 20px;
    justify-content: center;
    overflow:hidden;
        
}


.casas {
       display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.personaje .casas img{
    width: 50%;
    height: 50%;

    padding:30px;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.personaje .casas .color{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}



.personaje img {
   width: 100%;


}

.personaje h2{
    color: white;
    text-align: center;
    margin: 10px;
}

.personaje p{
    color: white;
    width: 100%;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





/* ################################ CONTACTO ######################################*/



.contenedor .imagen-contenedor {
    background-image: url(../img/banner1.jpg);
    height: 20vh;
    margin-bottom: 10px;
    /* border: 2px solid #fff; */
    -moz-box-shadow: inset 10px 10px 50px #fff;
    -webkit-box-shadow: inset 10px 10px 50px #fff;
    box-shadow: inset 10px 10px 50px #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: darken;
}

.formulario form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formulario h2 {
    color: white;
    text-align: center;

}

.formulario label {
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
}

.formulario input {
    margin: 10px 0px 5px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formulario select option {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formulario textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formulario .boton {
    border-radius: 10px;
    border: solid 2px white;
    background-color: black;
    padding: 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

    width: 100%;
    text-align: center;
}




/* Tablet */
/* resoluci贸n entre 481px y 759px*/
@media only screen and (min-width: 481px) and (max-width: 759px) {

    /* ################################ INDEX ######################################*/

    /* ---------------- NOTICIAS --------------------------- */

    .content-noticia {
        display: flex;
        flex-direction: column;
    }

    .detalle-noticia {
        position: relative;
        display: inline-block;
        text-align: center;


    }


    .detalle-noticia img {

        width: 100%;

    }

    .intro-noticia {
        font-size: 0.8rem;
        background-color: rgba(0, 0, 0, 0.616);

        position: absolute;
        bottom: 10%;
        left: 10px;
        width: 90vw;
    }




}

/* Tablet */
/* resoluci贸n entre 760px y 1023px*/
@media only screen and (min-width: 760px) and (max-width: 1023px) {

    /* ################################# INDEX ################################### */

    /* ----------------------- HEADER ------------------------------- */

    header {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    header ul,
    ol,
    li {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        color: white;
        padding: 15px;
    }

    header .cabecera-titulo {

        text-align: left;
        padding-top: 20px;
    }


    /* ---------------- CONTENIDOS --------------------------- */

    .content {
        display: flex;
        flex-direction: column;
    }


    .carta-personaje {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 30px 2fr;



        grid-template-areas:
            "foto titulo"
            "foto texto"
            "foto boton";

        margin-bottom: 20px;

    }

    .contenidos h2 {
        border-top: 2px solid white;
    }

    .carta-personaje img {
        width: 400px;
        grid-area: foto;
    }


    .carta-personaje h3 {
        grid-area: titulo;
    }

    .carta-personaje p {
        grid-area: texto;
    }

    .carta-personaje a {
        grid-area: boton;
        width: 90%;
    }


    /* ---------------- NOTICIAS --------------------------- */

    .content-noticia {
        display: flex;
        flex-direction: column;
    }

    .detalle-noticia {
        position: relative;
        display: inline-block;
        text-align: center;


    }


    .detalle-noticia img {

        width: 100%;

    }

    .intro-noticia {
        font-size: 0.8rem;
        background-color: rgba(0, 0, 0, 0.616);

        position: absolute;
        bottom: 10%;
        left: 10px;
        width: 90vw;
    }

    /* ############################### PERSONAJES ######################################*/


.personaje {
    display: grid;
    grid-template-columns: repeat(2, fr) ;
    grid-template-rows: repeat(3, fr) ;

   grid-template-areas: 
   "titulo texto"
   "foto texto"
   "foto casas";
    
    margin: 20px;
            
}

.casas {
    grid-area: casas;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.personaje .casas img{
    width: 50%;
    height: 50%;

    padding:30px;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.personaje .casas .color{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.personaje img {
    grid-area: foto;
   width: 40vw;
}

.personaje h2{
    grid-area: titulo;
    color: white;
    text-align: center;
    margin: 10px;
}

.personaje p{
    grid-area: texto;
    color: white;
    width: 100%;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




    /* ################################ CONTACTO ######################################*/

    .contenedor {
        display: grid;
        grid-template-columns:10vw repeat(3, 1fr) 10vw;
        grid-template-rows: 1fr;

        grid-template-areas:
            ". imagen form form .";

    }

    .contenedor .imagen-contenedor {
        grid-area: imagen;

        transform: rotate(-90deg);
        width: 100%;
        height: 100%;

        box-shadow: none;


    }

    .contenedor .formulario {
        grid-area: form;
    }


}


/* desktop */
/* resoluci贸n de 1024px en adelante mayor o igual a 1024 */

@media only screen and (min-width: 1024px) {

    /* ----------------------- HEADER ------------------------------- */

    header {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    header ul,
    ol,
    li {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        color: white;
        padding: 15px;
    }

    header .cabecera-titulo {

        text-align: left;
        padding-top: 20px;
    }



    /* ---------------- CONTENIDOS --------------------------- */

    .content {
        display: flex;
        flex-direction: column;
    }


    .carta-personaje {
        display: grid;
        grid-template-columns: repeat(2, 1fr) 30vw;
        grid-template-rows: 30px 2fr;



        grid-template-areas:
            "foto titulo foto2"
            "foto texto foto2"
            "foto boton foto2";

        margin-bottom: 20px;

    }



    .contenidos .titulo-personajes {
        text-align: left;
    }

    .contenidos .titulo-peliculas {
        text-align: right;
    }

    .carta-personaje img {
        width: 400px;
        grid-area: foto;
    }

    .carta-personaje .imagen-complementaria {
        grid-area: foto2;
        background-image: url(../img/d6acf211be0514a3d96d74a89666189f.jpg);
        background-color: rgb(61, 60, 60);
        box-shadow: inset 5px 5px 80px 80px #000000;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;


    }

    .carta-personaje h3 {
        grid-area: titulo;
    }

    .carta-personaje p {
        grid-area: texto;
    }

    .carta-personaje a {
        grid-area: boton;
        width: 90%;
    }



    /* ############################################################ */

    .carta-personaje-2 {
        display: grid;
        grid-template-columns: 30vw repeat(2, 1fr);
        grid-template-rows: 30px 2fr;

        grid-template-areas:
            "foto2 titulo foto"
            "foto2 texto foto"
            "foto2 boton foto";

        margin-bottom: 20px;

    }

    /* ---------------- NOTICIAS --------------------------- */

    .noticias {
        display: flex;
        flex-direction: column;

    }

    .content-noticia {
        display: flex;
        flex-direction: row;

        width: 40vw;
    }

    .detalle-noticia {
        position: relative;
        display: inline-block;
        text-align: center;


    }


    .detalle-noticia img {

        width: 100%;

    }

    .intro-noticia {
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.616);

        position: absolute;
        bottom: 10%;
        left: 10px;
        width: 90vw;
    }

    /* ------------------------------- FOOTER ----------------------------------- */


    footer .columna {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;

        grid-template-areas:
            "foto2 titulo foto"
            "foto2 texto foto"
            "foto2 boton foto";

    }


    footer h2 {
        background-color: black;
        color: white;
        padding: 15px;
        text-align: left;
    }

    footer nav {

        background-color: black;
    }

    footer nav ul li {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: left;
        color: white;
        padding: 10px;
        margin-left: 2vw;
    }

    footer nav ul li h3 a {

        color: white;
        text-decoration: none;

    }

    footer img {
        width: 50px;
    }

    .redes {
        display: flex;
        flex-direction: row;

        background-color: black;
    }

    .redes img {}

    .final h2 {
        text-decoration: none;
        font-family: harryFont;
        font-size: 60px;
        text-align: center;
        padding-top: 20px;
    }

    .final p {
        background-color: black;
        color: white;
        font-family: harryFont;
        font-size: 15px;
        text-align: center;
        padding-top: 5px;
    }

        /* ################################ CONTACTO ######################################*/

        .contenedor {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;
    
            grid-template-areas:
                ". imagen form form .";
    
        }
    
        .contenedor .imagen-contenedor {
            grid-area: imagen;
    
            transform: rotate(-90deg);
            width: 100%;
            height: 100%;
    
            box-shadow: none;
    
    
        }
    
        .contenedor .formulario {
            grid-area: form;
        }


         /* ############################### PERSONAJES ######################################*/


.personaje {
    display: grid;
    grid-template-columns: repeat(2, fr) ;
    grid-template-rows: repeat(3, fr) ;

   grid-template-areas: 
   "titulo texto"
   "foto texto"
   "foto casas";
    
    margin: 20px;
            
}

.casas {
    grid-area: casas;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.personaje .casas img{
    width: 40%;
    height: 40%;

    padding:10px;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.personaje .casas .color{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.personaje img {
    grid-area: foto;
   width: 30vw;
}

.personaje h2{
    grid-area: titulo;
    color: white;
    text-align: center;
    margin: 10px;
}

.personaje p{
    grid-area: texto;
    color: white;
    width: 100%;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



}