$color-gryffindor:#6d0000;

$color-gryffindor-gold:#c6a513;


/* Color Theme Swatches in Hex */
$Harry-potter-cover-1-hex: #012D47;
$Harry-potter-cover-2-hex: #3296D0;
$Harry-potter-cover-3-hex: #027FC7;
$Harry-potter-cover-4-hex: #003E61;
$Harry-potter-cover-5-hex: #015E94;



// FONTS
@font-face {
    font-family: harryFont;
    src: url(../HARRYP.TTF);
}

