.fondo{
     
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 19%, rgba(60,60,64,1) 62%);
        background-size: cover;
        z-index: -1;
        
    }
    
    .container-pelicula{
        & p{
            text-align: justify;
        }
        iframe{
            min-height: 400px;
            
        }
    }

    .accordion{
        &-item{
            border: 2px solid rgb(128, 128, 128);
        }
        &-button{
            background-color: white;
            color: black;
            font-weight: 700;
            &:not(.collapsed){
                background-color: black;
                color: greenyellow;
            }
        }
    }
    
  